/* 
   SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
      
      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 /44 / 5 2 / 62 / 74 / 86 / 98
      
-- 01 TYPOGRAHY
   INTER , SANSERIF

   --Line heights
   default:1
   1.05
   1.5
   Border-raius:9px;
   
   LETTER-SPACING: .075PX -0.5PX 1.2PX:
   
   PRIMARY COLOR:#e67e22;
   TINTS:#fdf2e9 #fae5d3
   GREYS: #555
   SHADES: #cf711f;
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem #45260a;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/******************************/
/* GENERAL USABLE COMPONENTS */
/******************************/
.btn-box {
  display: flex;
  justify-content: space-between;
}
.btn,
.btn:link,
.btn:visited {
  border: none;
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 2rem 2rem;
  border-radius: 9px;
  transition: background-color 300ms;
  cursor: pointer;
}
.btn--form {
  padding: 1.2rem;
  align-self: end;
  background-color: #45260a;
  color: #fdf2e9;
}
.btn--form:hover {
  background-color: #fff;
  color: #555;
}
.main-btn:link,
.main-btn:visited {
  background-color: #e67e22;
  color: #fff;
}
.main-btn:hover,
.main-btn:active {
  background-color: #cf711f;
}
.sec-btn:link,
.sec-btn:visited {
  background-color: #fff;
  color: #555;
  box-shadow: inset 0 0 0 2px #fff;
  /* border: 2px #fff solid; */
}
.sec-btn:hover,
.sec-btn:active {
  background-color: #fdf2e9;
}
.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  transition: color 300ms;
  border-bottom: 2px solid currentColor;
}
.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.grid {
  display: grid;
  row-gap: 6.2rem;
  column-gap: 9.6rem;
}
.grid--align-center {
  align-items: center;
}
.grid--2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
/******************************/
/* HELPER CLASSES */
/******************************/
strong {
  font-weight: 500;
}
.margin-buttom {
  margin-bottom: 4.8em !important;
}
.margin-right {
  margin-right: 2.5rem !important;
}
.center-text {
  text-align: center;
}
